.plant-overview-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  gap: 0.5rem;

  // 上方總數欄
  .total-stats-card {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem;
    transition: all 0.3s ease;

    .value {
      line-height: 1;
    }
  }

  // 下方三等分狀態欄
  .status-grid-container {
    display: flex;

    .status-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2.5rem 0;

      .number {
        line-height: 1;
      }

      .status-label {
        margin-top: 3rem;
        margin-bottom: -1rem;
      }

      &:not(:last-child) {
        border-right: 1px solid #e9e2d6;
      }
    }
  }

  @include tablet {
    height: auto;
    padding-top: 0.5rem;
    gap: 0.75rem;

    .total-stats-card {
      padding: 1rem 1.25rem;
    }

    .status-grid-container {
      .status-item {
        padding: 1.5rem 0;
      }
    }
  }
}

.card-stretch-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .card-body-content {
    flex-grow: 1;
  }
}
