/* 內縮區塊 */
.content-limit {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .content-limit {
    max-width: 1076px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* 強制描述文字固定為兩行 */
.line-clamp-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1.6;
}
.italic {
  font-style: italic;
}

.hover-up:hover {
  transform: translateY(-8px);
  transition: 0.3s;
}
.hover-up-small:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}
/* 使用者頭像 */
.avatar-circle {
  object-fit: cover;
  background-color: #f8f9fa;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1.5px solid #538369;
  flex-shrink: 0;
}
.avatar-img {
  object-fit: contain;
  height: 80%;
  width: 80%;
}
@media (min-width: 768px) {
  .avatar-circle {
    object-fit: cover;
    height: 60px;
    width: 60px;
  }
  .avatar-img {
    object-fit: cover;
    height: auto;
    width: 35px;
  }
}

.hero-article-detail {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/leafandhome/1772246558147.png");
}


.card-img {
  height: 230px;
  width: 327px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .card-img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }
}

.share-btn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*文章圖片*/
.rounded-custom {
  border-radius: 8px 40px 8px 8px;
}

/*電子報*/
.bottom-section {
  padding-top: 52px;
}
.rec-articles-wrapper {
  padding-top: 52px;
  padding-bottom: 300px;
}
.newsletter-wrapper {
  margin: 0 auto;
  margin-top: -250px;
  position: relative;
  z-index: 10;
}
.newsletter-left {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/leafandhome/1772247714020.png");
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
}
.newsletter-right {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


@media (min-width: 768px) {
  .bottom-section {
    padding-top: 120px;
  }
  .rec-articles-wrapper {
    padding-top: 80px;
    padding-bottom: 280px;
  }
  .newsletter-wrapper {
    margin: 0 auto;
    max-width: 1296px;
    margin-top: -240px;
    position: relative;
    z-index: 10;
  }
  .newsletter-card {
    border: none;
    overflow: hidden;
  }
  .newsletter-left {
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0px;
    background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/leafandhome/1772247742273.png");
  }
  .newsletter-right {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
}

.content-wrapper {
  padding-top: 52px;
  padding-bottom: 52px;
}

@media (min-width: 768px) {
  .content-wrapper {
    padding-top: 80px;
    padding-bottom: 120px;
  }
}


.border-top.border-success-500 {
  border-color: #a69880;
}



.form-control:focus {
  border-color: #809286;
  box-shadow: 0 0 0 0.20rem #53836949;
}
