/* 列表頁特有 Hero 遮罩 (毛玻璃) */
.articles-hero-blur::before {
  background: rgba(225, 225, 225, 0.2);
  backdrop-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(2.8px);
}
.hero-articles {
  background-image: url("https://storage.googleapis.com/vue-course-api.appspot.com/leafandhome/1772247567913.png");
  background-attachment: fixed;
}


/*hero標籤*/
.btn-category-min {
  min-width: 100px; 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap; 
}

@media (min-width: 768px) {
}
/*文章搜尋*/
.custom-search-group {
  background-color: #f9f7f5;
}

.custom-search-group .form-control:focus {
  background-color: transparent; /* 避免 focus 時背景閃爍 */
}
.custom-search-group input::placeholder {
  color: #a69880;
}
