.product-image-area {
  max-width: 636px;
}
.product-image-selection {
  max-width: 80px;
  @include mobile {
    max-width: 100%;
  }
}

.product-content {
  max-width: 400px;
  flex: 0 0 400px;
}
.scene-tag {
  top: 4px;
  left: 4px;
}
